.container_room {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.form_group {
  margin-top: 0.5rem;
}

.text h4 {
  font-weight: 400;
  text-align: center;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.span {
  color: #fff;
  font-weight: 400;
}
